<script>
 
    import "bulma/css/bulma.css"
    import { text } from "svelte/internal";
    
    let cmp = true;
        function edit(index){
              
            cmp = !cmp;

        }

    let newItem = '';
	
    let todoList = [];
	
	function addToList() {
		todoList = [...todoList, {text: newItem, status: false}];
		newItem = '';
	}
	
	function removeFromList(index) {
		todoList.splice(index, 1)
		todoList = todoList;
    }

    let change = ''
</script>

<center>
<input bind:value={newItem} type="text">
<button on:click={addToList}>Add</button>
</center>

<br/>
{#each todoList as item, index}
	<input bind:checked={item.status} type="checkbox">
	<span class:checked={item.status}>{item.text}</span>
	<span on:click={() => removeFromList(index)}><button>remove</button></span>
  <span on:click={() => edit(index)}><button>edit</button></span>
	<br/>
{/each} 


<div class = "{cmp === true ? 'modal is-active' : 'modal'}">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">Modal title</p>
      <button class="delete" aria-label="close" on:click={edit}></button>
    </header>
    <section class="modal-card-body" >
      {#each todoList as item, index}
      <input bind:value={item.text} >
      {/each} 
    </section>
    <footer class="modal-card-foot">
      <button class="button is-success" >Save changes</button>
      <button class="button" on:click={edit}>Cancel</button>
    </footer>
  </div>
</div>

















